## Deliverable 2. Create a Customer Travel Destinations Map.

In [24]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [25]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max_Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ushuaia,AR,2022-07-20 13:54:49,-54.8000,-68.3000,37.06,87,100,16.11,drizzle
1,1,Nikolskoye,RU,2022-07-20 13:54:50,59.7035,30.7861,70.88,52,100,12.19,overcast clouds
2,2,Mar Del Plata,AR,2022-07-20 13:54:50,-38.0023,-57.5575,54.09,83,40,13.00,mist
3,3,Tasiilaq,GL,2022-07-20 13:54:50,65.6145,-37.6368,40.62,82,92,4.32,overcast clouds
4,4,Vaini,TO,2022-07-20 13:54:51,-21.2000,-175.2000,73.56,88,40,8.05,scattered clouds

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("Please enter minimum temperature (degF) for your trip? "))
max_temp = float(input("Please enter maximum temperature (degF) for your trip? "))

Please enter minimum temperature (degF) for your trip? 73
Please enter maximum temperature (degF) for your trip? 85

In [10]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
idealtrip_cities_df = city_data_df.loc[(city_data_df["Max_Temp"] >= min_temp) &
                                      (city_data_df["Max_Temp"] <= max_temp)]

idealtrip_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max_Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Vaini,TO,2022-07-20 13:54:51,-21.2000,-175.2000,73.56,88,40,8.05,scattered clouds
5,5,Mogadishu,SO,2022-07-20 13:50:48,2.0371,45.3438,82.27,69,75,16.11,broken clouds
8,8,Kazanskaya,RU,2022-07-20 13:54:52,45.4106,40.4361,79.83,45,9,8.55,clear sky
15,15,Vao,NC,2022-07-20 13:54:54,-22.6667,167.4833,73.94,89,100,8.46,overcast clouds
19,19,Chabua,IN,2022-07-20 13:54:55,27.4825,95.1736,78.55,93,100,3.78,overcast clouds
...,...,...,...,...,...,...,...,...,...,...,...
664,664,Shingu,JP,2022-07-20 13:58:12,33.7333,135.9833,75.24,78,95,6.26,overcast clouds
665,665,Nargana,PA,2022-07-20 13:58:12,9.4428,-78.5906,81.00,85,100,10.65,overcast clouds
667,667,Pochutla,MX,2022-07-20 13:58:13,15.7432,-96.4661,78.82,74,100,1.63,overcast clouds
668,668,Bahia Honda,CU,2022-07-20 13:58:13,22.9036,-83.1592,84.00,69,7,10.11,light rain
669,669,Coahuayana,MX,2022-07-20 13:58:13,18.7333,-103.6833,80.71,77,77,3.44,broken clouds

In [11]:
# 4a. Determine if there are any empty rows.
idealtrip_cities_df.isnull().sum()

City_ID                0
City                   0
Country                1
Date                   0
Lat                    0
Lng                    0
Max_Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [13]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = idealtrip_cities_df.dropna()
clean_df

,City_ID,City,Country,Date,Lat,Lng,Max_Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Vaini,TO,2022-07-20 13:54:51,-21.2000,-175.2000,73.56,88,40,8.05,scattered clouds
5,5,Mogadishu,SO,2022-07-20 13:50:48,2.0371,45.3438,82.27,69,75,16.11,broken clouds
8,8,Kazanskaya,RU,2022-07-20 13:54:52,45.4106,40.4361,79.83,45,9,8.55,clear sky
15,15,Vao,NC,2022-07-20 13:54:54,-22.6667,167.4833,73.94,89,100,8.46,overcast clouds
19,19,Chabua,IN,2022-07-20 13:54:55,27.4825,95.1736,78.55,93,100,3.78,overcast clouds
...,...,...,...,...,...,...,...,...,...,...,...
664,664,Shingu,JP,2022-07-20 13:58:12,33.7333,135.9833,75.24,78,95,6.26,overcast clouds
665,665,Nargana,PA,2022-07-20 13:58:12,9.4428,-78.5906,81.00,85,100,10.65,overcast clouds
667,667,Pochutla,MX,2022-07-20 13:58:13,15.7432,-96.4661,78.82,74,100,1.63,overcast clouds
668,668,Bahia Honda,CU,2022-07-20 13:58:13,22.9036,-83.1592,84.00,69,7,10.11,light rain
669,669,Coahuayana,MX,2022-07-20 13:58:13,18.7333,-103.6833,80.71,77,77,3.44,broken clouds

In [15]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max_Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max_Temp,Current Description,Lat,Lng,Hotel Name
4,Vaini,TO,73.56,scattered clouds,-21.2000,-175.2000,
5,Mogadishu,SO,82.27,broken clouds,2.0371,45.3438,
8,Kazanskaya,RU,79.83,clear sky,45.4106,40.4361,
15,Vao,NC,73.94,overcast clouds,-22.6667,167.4833,
19,Chabua,IN,78.55,overcast clouds,27.4825,95.1736,
22,Avarua,CK,73.45,broken clouds,-21.2078,-159.7750,
23,Ajaccio,FR,84.25,clear sky,42.0000,8.9167,
27,Jamestown,US,82.94,clear sky,42.0970,-79.2353,
33,Kaputa,ZM,82.44,few clouds,-8.4689,29.6619,
49,Gornyatskiy,RU,82.42,broken clouds,48.2915,40.9575,

In [26]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
       

    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try: 
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]\
        
    except (IndexError):
            print("Cannot find hotel....skipping")

Cannot find hotel....skipping
Cannot find hotel....skipping
Cannot find hotel....skipping
Cannot find hotel....skipping
Cannot find hotel....skipping
Cannot find hotel....skipping
Cannot find hotel....skipping
Cannot find hotel....skipping
Cannot find hotel....skipping
Cannot find hotel....skipping
Cannot find hotel....skipping
Cannot find hotel....skipping
Cannot find hotel....skipping
Cannot find hotel....skipping
Cannot find hotel....skipping
Cannot find hotel....skipping
Cannot find hotel....skipping
Cannot find hotel....skipping
Cannot find hotel....skipping
Cannot find hotel....skipping
Cannot find hotel....skipping

In [19]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df.replace(r'^\s*$', np.nan, regex=True)
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max_Temp,Current Description,Lat,Lng,Hotel Name
4,Vaini,TO,73.56,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
5,Mogadishu,SO,82.27,broken clouds,2.0371,45.3438,Hotel Juba
8,Kazanskaya,RU,79.83,clear sky,45.4106,40.4361,Tikhiy Dvorik
15,Vao,NC,73.94,overcast clouds,-22.6667,167.4833,Hotel Kou-Bugny
19,Chabua,IN,78.55,overcast clouds,27.4825,95.1736,Biru Rupam Hotel
...,...,...,...,...,...,...,...
664,Shingu,JP,75.24,overcast clouds,33.7333,135.9833,Shingu UI Hotel
665,Nargana,PA,81.00,overcast clouds,9.4428,-78.5906,Dubbir
667,Pochutla,MX,78.82,overcast clouds,15.7432,-96.4661,Hotel Posada San Jose
668,Bahia Honda,CU,84.00,light rain,22.9036,-83.1592,Casa Gualberto - Deysi
669,Coahuayana,MX,80.71,broken clouds,18.7333,-103.6833,El rranchito michuacan de ocampos

In [20]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_Vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [22]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max_Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [23]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))